* {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header {
  border-bottom: 0.5px solid #746b6b;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
}

.Header.light {
  background-color: #a6453c;
  color: #ffffff;
}

.Header.dark {
  background-color: black;
}
